# Virtual environment
.venv/
venv/
env/
ENV/
pyvenv.cfg

.env
*.ini
*.cfg
local_settings.py

*.pyc
__pycache__/
*.pyd
*.egg-info
dist/
build/
sdist/

*.log
*.tmp
*.swp
*.bak
*.dump

.DS_Store      # macOS
Thumbs.db      # Windows